body {
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    background: url(../images/background2.png);

    

}
*,
* :before
:after{
    -webkit-box-sizing: border-box; 
    }

h1 {
    margin: 0;
    font-family: 'Kaushan Script', cursive;

}
h2{
    font-family: 'Montserrat', sans-serif;

}
h4{
    font-family: 'Montserrat', sans-serif;
}
    

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end; /* Verschiebt die Elemente nach rechts */
  align-items: center;
  padding: 0 0px; /* Abstand auf der rechten Seite für ein besseres Aussehen */
  font-family: 'Montserrat', sans-serif;
}

/* Links inside the navbar */
.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  text-decoration: none;
  transition: color .1s linear;
  padding: 4 60px;
}

/* The dropdown container */
.dropdown {
  position: relative;
  margin: 0;
  padding: 4px 60px;
}

/* Dropdown button */
.dropdown .dropbtn {
  
  
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Wichtig für die vertikale Ausrichtung auf Mobilgeräten */
  margin: 0; /* Wichtig für die vertikale Ausrichtung auf Mobilgeräten */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  content: "" ;
  color: darkorange;
  transition: opacity 1s linear;
  text-decoration: underline;
 
}
.navbar a:active, .dropdown:active .dropbtn :active {
  transition: opacity 1s linear;  
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  text-align: left;
  
  
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}





.intro {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100%;
 height: 100vh;
 background: url(../images/intro.jpg) center
 no-repeat;
        
    
}

.intro_inner {
    color: #000000;
    text-align: center;
    width: 100%;
    height: 340px;
    
    
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
}
.whitebackground {
   
    
    width: 100%;
    height: 340px;
    
}

.whitebackground:hover  {
    opacity: 0,1;
    background: rgba(255, 255, 255, 0.7);
    transition: color .1s linear;
    width: 100%;
    height: 340px;
    
}

.intro_title {
    font-size: 70px;
    font-family: 100;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    justify-content: center;
}

.intro_suptitle {
    padding-top: 10px;
    font-size: 30px;
    color: #000000;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    justify-content: center;


}



.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 100;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    
    text-decoration: none;
    margin: 70px;
    transition: background .1s linear, color .1s linear;
}
.btn:hover {
    background: #ffffff;
    color: #000000;

}

.section {
    padding: 100px;
    display: inline;

}


.section_suptitle {

    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #000000;
    margin: 20px;
    display: block;
    padding-left: 100;


}
.section_title {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    max-width: 500px;
    display: inline;
    float: left;
    position: relative;
    padding-left: 100px;

}

.about_me {
    justify-content: space-between;
    float: left;
    display: inline;
    padding-right: 15px;
    width: 40%;
    padding-top: 300px;
    padding-left: 140px;
    font-size: 13px;
    color: #000000;
    font-weight: 50;

}
.about_text{
    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;
}

.about_img {
    
    justify-content: space-between;
    float: right;
    padding-right: 15px;
    display: inline;
    padding-top: 120px;
    
}
.main {
padding-top: 700px;
}
.What_i_can_do{

padding: 45px 0 16px;
text-align: center;

}

.img {
  width: 100%;
  height: 100%;
  padding-top: 0;
  background-color: #000000;
  background: url(../images/Background.jpg) center
  no-repeat;
}
.What_i_can_do_for_you {
    padding-top: 30px;
    font-size: 30px;
    margin-bottom: 20px;
    position: relative;
    
}

   
.Together {
    position: relative;
    justify-content: space-between;
  
    padding-left: 15px;
    display: inline;
   
}
   

.image-container {
    position: relative;
    width: 220px; /* Breite des Bildcontainers */
    height: 473px; /* Höhe des Bildcontainers */
    background-color: #ffffff;
  }
  
  .hover-image {
    padding-top: 0;
    width: 100%; /* Vollständige Breite des Containers */
    height: 100%; /* Automatische Anpassung der Höhe */
    transition: opacity 0.3s ease; /* Sanfter Übergang der Sichtbarkeit */
  }
  
  .hover-text {
    width: 220px; /* Breite des Bildcontainers */
    height: 220px;
    position: absolute;
    padding-top: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Text zu Beginn unsichtbar machen */
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    transition: opacity 0.3s ease, color 0.3s ease; /* Sanfter Übergang der Sichtbarkeit und Textfarbe */
  }
  
  .image-container:hover .hover-image {
    opacity: 0; /* Bild wird beim Überfahren unsichtbar */
    background-color: #ffffff;
  }
  
  .image-container:hover .hover-text {
    opacity: 1; /* Text wird beim Überfahren sichtbar */
    font-family: 'Comfortaa', sans-serif;
  }
  




.image-container2 {
    position: relative;
    width: 220px; /* Breite des Bildcontainers */
    height: 473px; /* Höhe des Bildcontainers */
    background-color: #ffffff;
}

.hover-image-Portrets {
    padding-top: 0;
    width: 100%; /* Vollständige Breite des Containers */
    height: 100%; /* Automatische Anpassung der Höhe */
    transition: opacity 0.3s ease; /* Sanfter Übergang der Sichtbarkeit */ 
}

.hover-text-Portrets {
    width: 220px; /* Breite des Bildcontainers */
    height: 220px;
    position: absolute;
    padding-top: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Comfortaa', sans-serif;
    white-space: pre-line; /* або white-space: pre-wrap; */
    opacity: 0; /* Text zu Beginn unsichtbar machen */
    font-size: 18px; Übergang der Sichtbarkeit und Textfarbe */
  }

  .image-container2:hover .hover-image-Portrets {
    opacity: 0; /* Bild wird beim Überfahren unsichtbar */
    background-color: #ffffff;
  }
  
  .image-container2:hover .hover-text-Portrets {
    opacity: 1; /* Text wird beim Überfahren sichtbar */
  }







.image-container3 {
    position: relative;
    width: 220px; /* Breite des Bildcontainers */
    height: 473px; /* Höhe des Bildcontainers */
    background-color: #ffffff;
}

.hover-image-my_works {
    padding-top: 0;
    width: 100%; /* Vollständige Breite des Containers */
    height: 100%; /* Automatische Anpassung der Höhe */
    transition: opacity 0.3s ease; /* Sanfter Übergang der Sichtbarkeit */ 
}

.hover-text-my_works {
    width: 220px; /* Breite des Bildcontainers */
    height: 220px;
    position: absolute;
    padding-top: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Text zu Beginn unsichtbar machen */
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    transition: opacity 0.3s ease, color 0.3s ease; /* Sanfter Übergang der Sichtbarkeit und Textfarbe */
  }
  

  .image-container3:hover .hover-image-my_works {
    opacity: 0; /* Bild wird beim Überfahren unsichtbar */
    background-color: #ffffff;
  }
  
  .image-container3:hover .hover-text-my_works {
    opacity: 1; /* Text wird beim Überfahren sichtbar */
  }





  .image-container4 {
    position: relative;
    width: 220px; /* Breite des Bildcontainers */
    height: 473px; /* Höhe des Bildcontainers */
    background-color: #ffffff;
}

.hover-image-webdesign {
    padding-top: 0;
    width: 100%; /* Vollständige Breite des Containers */
    height: 100%; /* Automatische Anpassung der Höhe */
    transition: opacity 0.3s ease; /* Sanfter Übergang der Sichtbarkeit */ 
}

.hover-text-webdesign {
    width: 220px; /* Breite des Bildcontainers */
    height: 220px;
    position: absolute;
    padding-top: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Text zu Beginn unsichtbar machen */
    font-size: 18px;
    white-space: pre-line; /* або white-space: pre-wrap; */
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    transition: opacity 0.3s ease, color 0.3s ease; /* Sanfter Übergang der Sichtbarkeit und Textfarbe */
  }
  

  .image-container4:hover .hover-image-webdesign {
    opacity: 0; /* Bild wird beim Überfahren unsichtbar */
    background-color: #ffffff;
  }
  
  .image-container4:hover .hover-text-webdesign {
    opacity: 1; /* Text wird beim Überfahren sichtbar */
  }



  
.image-container5 {
    position: relative;
    width: 220px; /* Breite des Bildcontainers */
    height: 473px; /* Höhe des Bildcontainers */
    background-color: #ffffff;
}

.hover-image-Workshop {
    padding-top: 0;
    width: 100%; /* Vollständige Breite des Containers */
    height: 100%; /* Automatische Anpassung der Höhe */
    transition: opacity 0.3s ease; /* Sanfter Übergang der Sichtbarkeit */ 
}

.hover-text-workshop {
    width: 220px; /* Breite des Bildcontainers */
    height: 220px;
    position: absolute;
    padding-top: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Text zu Beginn unsichtbar machen */
    font-size: 18px;
    white-space: pre-line; /* або white-space: pre-wrap; */
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    transition: opacity 0.3s ease, color 0.3s ease; /* Sanfter Übergang der Sichtbarkeit und Textfarbe */
  }
  

  .image-container5:hover .hover-image-Workshop {
    opacity: 0; /* Bild wird beim Überfahren unsichtbar */
    background-color: #ffffff;
  }
  
  .image-container5:hover .hover-text-workshop {
    opacity: 1; /* Text wird beim Überfahren sichtbar */
  }








.container_{
    padding-top: 200px;
    width: 100%;
    height: 400px;
}

.and_more2 {
    padding-left: 200px;
    background-color: #ffffff;
}

.and_more_3 {
    max-width: 600px;
    justify-content: space-between;
    float: right;
    padding-right: 100px;
    display: inline;
    padding-top: 150px;
    
}

.contacts_down {
    margin-top: 100px; 
    width: 100%;
    height: 400px;
    
  }
  
  
  .footer{
    opacity: 0,1;
    margin-top: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 25px; /* ВідступS між фотографією і текстом */
    white-space: pre-line;
    display: flex;
    flex-direction: column;
   
  }
  
  
  footer a{
  display: block;
  font-family: 'Comfortaa', sans-serif;
  color: black;
  text-decoration: none;
  } 
  
  .footer a::after {
    content: "" ;
    display: block;
    width: 100%;
    height: 1px;
    background-color: darkorange;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
    
  }
  
  .footer a:hover {
      color: darkorange;
  }
  .footer a:hover::after {
      opacity: 1;
  }





