body {
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    background: url(../images/background2.png);
}
h1 {
margin: 0;
font-family: 'Kaushan Script', cursive;
}
h2{
font-family: 'Montserrat', sans-serif;
}
h4{
font-family: 'Montserrat', sans-serif;
}   
.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end; /* Verschiebt die Elemente nach rechts */
  align-items: center;
  padding: 0 0px; /* Abstand auf der rechten Seite für ein besseres Aussehen */
  font-family: 'Montserrat', sans-serif;
}
/* Links inside the navbar */
.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  text-decoration: none;
  transition: color .1s linear;
  padding: 4 60px;
}

/* The dropdown container */
.dropdown {
  position: relative;
  margin: 0;
  padding: 4px 60px;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Wichtig für die vertikale Ausrichtung auf Mobilgeräten */
  margin: 0; /* Wichtig für die vertikale Ausrichtung auf Mobilgeräten */
}
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  content: "" ;
  color: darkorange;
  transition: opacity 1s linear;
  text-decoration: underline;
}
.navbar a:active, .dropdown:active .dropbtn :active {
  transition: opacity 1s linear;  
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(../images/intro.jpg) center
  no-repeat;  
}
.whitebackground { 
  width: 100%;
  height: 340px;
}
.whitebackground:hover  {
  opacity: 0,1;
  background: rgba(255, 255, 255, 0.7);
  transition: color .1s linear;
  width: 100%;
  height: 340px;
}
.intro_title {
  font-size: 70px;
  font-family: 100;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  justify-content: center;
}
.intro_suptitle {
  padding-top: 10px;
  font-size: 30px;
  color: #000000;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  justify-content: center;
}
.btn {
  height: 40px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 29%;
  vertical-align: top;
  text-align:center;
  font-size: 16px;
  opacity: 0,1;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1px;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}
.about_me {
  width: 100%;
  height: 700px;
  display: flex;
}
.about_me_text{
  padding-top: 20%;
  padding-left: 30px;
  width: 50%;
  height: 50px;
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
}
.about_text{
  font-size: 20px;
  font-family: 'Comfortaa', sans-serif;
  width: 600px;
  float: left;
}
.about_img {
  text-align: center;
  float: right;
  padding-top: 120px;
  width: 600px;
  height: 500px;
  padding-right: 10px;
}
.container {
  width: 100%;
  height: 650px;
  padding-top: 0;
  background: url(../images/Background.jpg) center
  no-repeat;
}
.What_i_can_do_for_you {
  text-align: center;
  padding: 30px 0px;
}
.Together {
  width: 100%;
  padding: 0px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(201px, 1fr));
  grid-gap: 28px; /* Задаем расстояние между ячейками сетки */
}
.image-container, .image-container2, .image-container3, .image-container4
.image-container5 {
  position: relative;
  width: 220px; /* Breite des Bildcontainers */
  height: 473px; /* Höhe des Bildcontainers */
  background-color: #ffffff;
}
.hover-image, .hover-image-Portrets, .hover-image-my_works, .hover-image-webdesign, .hover-image-Workshop  {
  padding-top: 0;
  width: 100%; /* Vollständige Breite des Containers */
  height: 100%; /* Automatische Anpassung der Höhe */
  transition: opacity 0.3s ease; /* Sanfter Übergang der Sichtbarkeit */
}
.hover-text, .hover-text-Portrets, .hover-text-my_works, .hover-text-webdesign, .hover-text-workshop  {
  width: 220px; /* Breite des Bildcontainers */
  height: 220px;
  position: absolute;
  padding-top: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Text zu Beginn unsichtbar machen */
  font-size: 18px;
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  transition: opacity 0.3s ease, color 0.3s ease; /* Sanfter Übergang der Sichtbarkeit und Textfarbe */
}
.image-container:hover .hover-image {
  opacity: 0; /* Bild wird beim Überfahren unsichtbar */
  background-color: #ffffff;
}
.image-container:hover .hover-text {
  opacity: 1; /* Text wird beim Überfahren sichtbar */
  font-family: 'Comfortaa', sans-serif;
}
.image-container2 {
  position: relative;
  width: 220px; /* Breite des Bildcontainers */
  height: 473px; /* Höhe des Bildcontainers */
  background-color: #ffffff;
}
.hover-image-Portrets {
  padding-top: 0;
  width: 100%; /* Vollständige Breite des Containers */
  height: 100%; /* Automatische Anpassung der Höhe */
  transition: opacity 0.3s ease; /* Sanfter Übergang der Sichtbarkeit */ 
}
.hover-text-Portrets {
  width: 220px; /* Breite des Bildcontainers */
  height: 220px;
  position: absolute;
  padding-top: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Comfortaa', sans-serif;
  white-space: pre-line; /* або white-space: pre-wrap; */
  opacity: 0; /* Text zu Beginn unsichtbar machen */
  font-size: 18px; Übergang der Sichtbarkeit und Textfarbe */
}
.image-container2:hover .hover-image-Portrets {
  opacity: 0; /* Bild wird beim Überfahren unsichtbar */
  background-color: #ffffff;
}
.image-container2:hover .hover-text-Portrets {
  opacity: 1; /* Text wird beim Überfahren sichtbar */
}
.image-container3 {
  position: relative;
  width: 220px; /* Breite des Bildcontainers */
  height: 473px; /* Höhe des Bildcontainers */
  background-color: #ffffff;
}
.hover-image-my_works {
  padding-top: 0;
  width: 100%; /* Vollständige Breite des Containers */
  height: 100%; /* Automatische Anpassung der Höhe */
  transition: opacity 0.3s ease; /* Sanfter Übergang der Sichtbarkeit */ 
}
.hover-text-my_works {
  width: 220px; /* Breite des Bildcontainers */
  height: 220px;
  position: absolute;
  padding-top: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Text zu Beginn unsichtbar machen */
  font-size: 18px;
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  transition: opacity 0.3s ease, color 0.3s ease; /* Sanfter Übergang der Sichtbarkeit und Textfarbe */
}
.image-container3:hover .hover-image-my_works {
  opacity: 0; /* Bild wird beim Überfahren unsichtbar */
  background-color: #ffffff;
}
.image-container3:hover .hover-text-my_works {
  opacity: 1; /* Text wird beim Überfahren sichtbar */
}
.image-container4 {
  position: relative;
  width: 220px; /* Breite des Bildcontainers */
  height: 473px; /* Höhe des Bildcontainers */
  background-color: #ffffff;
}
.hover-image-webdesign {
  padding-top: 0;
  width: 100%; /* Vollständige Breite des Containers */
  height: 100%; /* Automatische Anpassung der Höhe */
  transition: opacity 0.3s ease; /* Sanfter Übergang der Sichtbarkeit */ 
}
.hover-text-webdesign {
  width: 220px; /* Breite des Bildcontainers */
  height: 220px;
  position: absolute;
  padding-top: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Text zu Beginn unsichtbar machen */
  font-size: 18px;
  white-space: pre-line; /* або white-space: pre-wrap; */
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  transition: opacity 0.3s ease, color 0.3s ease; /* Sanfter Übergang der Sichtbarkeit und Textfarbe */
}
.image-container4:hover .hover-image-webdesign {
  opacity: 0; /* Bild wird beim Überfahren unsichtbar */
  background-color: #ffffff;
}
.image-container4:hover .hover-text-webdesign {
  opacity: 1; /* Text wird beim Überfahren sichtbar */
}
.image-container5 {
  position: relative;
  width: 220px; /* Breite des Bildcontainers */
  height: 473px; /* Höhe des Bildcontainers */
  background-color: #ffffff;
}
.hover-image-Workshop {
  padding-top: 0;
  width: 100%; /* Vollständige Breite des Containers */
  height: 100%; /* Automatische Anpassung der Höhe */
  transition: opacity 0.3s ease; /* Sanfter Übergang der Sichtbarkeit */ 
}
.hover-text-workshop {
  width: 220px; /* Breite des Bildcontainers */
  height: 220px;
  position: absolute;
  padding-top: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Text zu Beginn unsichtbar machen */
  font-size: 18px;
  white-space: pre-line; /* або white-space: pre-wrap; */
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  transition: opacity 0.3s ease, color 0.3s ease; /* Sanfter Übergang der Sichtbarkeit und Textfarbe */
}
.image-container5:hover .hover-image-Workshop {
  opacity: 0; /* Bild wird beim Überfahren unsichtbar */
  background-color: #ffffff;
}
.image-container5:hover .hover-text-workshop {
  opacity: 1; /* Text wird beim Überfahren sichtbar */
}
.and_more{
  padding-top: 200px;
  width: 100%;
  display: flex;
}
.and_more2 {
  padding-left: 20%;
  background-color: #ffffff;
}
.and_more_3 {
  padding-right: 100px;
  padding-top: 150px; 
}
.footer{
  margin-top: 100px;
  justify-content: center;
  display: flex;
  gap: 25px; /* ВідступS між фотографією і текстом */
}
footer a{
  display: inline-block;
  font-family: 'Comfortaa', sans-serif;
  color: black;
  text-decoration: none;
  
} 
.footer a::after {
  content: "" ;
  display: block;
  width: 100%;
  height: 1px;
  background-color: darkorange;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}
.footer a:hover {
  color: darkorange;
}
.footer a:hover::after {
  opacity: 1;
}
.gmail{
  vertical-align: top;
  height: 20px; 
  display: inline-block;      
  background-size: cover;
}
.gmail_text{
  font-family: 'Comfortaa', sans-serif;
  font: 15px;
}
.gmail:hover,
.gmail:focus{
  filter: invert(27%) sepia(51%) saturate(2878%);
}




