body {
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
  background: url(../images/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
margin: 0;
font-family: 'Kaushan Script', cursive;
}
h2{
font-family: 'Montserrat', sans-serif;
}
h4{
font-family: 'Montserrat', sans-serif;
}   
.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end; /* Verschiebt die Elemente nach rechts */
  align-items: center;
  padding: 0 0px; /* Abstand auf der rechten Seite für ein besseres Aussehen */
  font-family: 'Montserrat', sans-serif;
}
/* Links inside the navbar */
.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  text-decoration: none;
  transition: color .1s linear;
  padding: 4 60px;
}

/* The dropdown container */
.dropdown {
  position: relative;
  margin: 0;
  padding: 4px 60px;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Wichtig für die vertikale Ausrichtung auf Mobilgeräten */
  margin: 0; /* Wichtig für die vertikale Ausrichtung auf Mobilgeräten */
}
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  content: "" ;
  color: darkorange;
  transition: opacity 1s linear;
  text-decoration: underline;
}
.navbar a:active, .dropdown:active .dropbtn :active {
  transition: opacity 1s linear;  
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.background-container {
  position: relative;
  background: url(../images/intro.jpg) center/cover no-repeat; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriere die Kinder horizontal */
  justify-content: center; /* Zentriere die Kinder vertikal */
  z-index: 1;
  padding-top: 10px; /* Platz für die Navbar */
  margin: 0;
}
.whitebackground { 
  width: 100%;
  height: 340px;
}
.whitebackground:hover  {
  opacity: 0,1;
  background: rgba(255, 255, 255, 0.7);
  transition: color .1s linear;
  width: 100%;
  height: 340px;
}
h1 {
  color: #000000;
  text-align: center;
  justify-content: center;
  margin-top: 70px;
  font-size: 2em; /* Ändern Sie die Schriftgröße nach Bedarf */
  font-family: 'Kaushan Script', cursive;
}

h2 {
  font-size: 4em; /* Ändern Sie die Schriftgröße nach Bedarf */
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}
h3 {
  color: #000000;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 2em; /* Ändern Sie die Schriftgröße nach Bedarf */
  font-family: 'Kaushan Script', cursive;
}
.button {
  background-color: rgba(255, 255, 255, 0.7); /* Transparent white background */
  color: #000; /* Black text color */
  font-size: larger;
  padding: 3px 200px; /* Adjust padding as needed */
  border: none;
  border-radius: 1px;
  margin-top: 10px; /* Adjust margin as needed */
  cursor: pointer;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}
.about_me {
  width: 100%;
  max-width: 1200px; /* Optional: Setze eine maximale Breite für den Container */
  margin: 0 auto; /* Zentriere den Container horizontal */
  height: auto; /* Lasse die Höhe automatisch basierend auf dem Inhalt anpassen */
  display: flex;
  flex-wrap: wrap; /* Erlaube das Umschlagen von Elementen auf kleinere Bildschirme */
  justify-content: center; /* Zentriere den Container horizontal */
  align-items: center; /* Zentriere die Kinder vertikal */
}
.about_me_text {
  padding-top: 5%; /* Ändere den Wert basierend auf deinen Anforderungen */
  padding-left: 5%; /* Ändere den Wert basierend auf deinen Anforderungen */
  width: 100%;
  max-width: 600px; /* Setze eine maximale Breite für den Textcontainer */
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
}
.about_text {
  font-size: 20px;
  font-family: 'Comfortaa', sans-serif;
  max-width: 583px;
  width: 100%; /* Fülle den verfügbaren Raum im inneren Container */
}
.about_img {
  text-align: center;
  padding-top: 5%; /* Ändere den Wert basierend auf deinen Anforderungen */
  width: 100%;
  max-width: 600px; /* Setze eine maximale Breite für das Bild */
  height: auto; /* Lasse die Höhe automatisch basierend auf der Breite anpassen */
}
h1.What_i_can_do_for_you {
  margin-top: 0px;
  padding-top: 60px;
  position: relative;
  z-index: 1000;
}
.flex-container {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.flex-item {
  position: relative;
  width: 220px; /* Breite des Bildcontainers */
  height: 473px; /* Höhe des Bildcontainers */
  background-color: #ffffff;
  margin: 5px;
}
.flex-item img {
  width: 100%;
  height: 100%;
  display: block;
  transition: opacity 0.3s ease;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Schwarzer Hintergrund mit Transparenz */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-sizing: border-box; /* Berücksichtigt den Rand in der Gesamtgröße */
}
.text {
  color: #fff;
  font-size: 18px;
  white-space: pre-line;
  font-family: 'Comfortaa', sans-serif;
}
.flex-item:hover img {
  opacity: 0;
}
.flex-item:hover .overlay {
  opacity: 1;
}
.and_more{
  gap: 25px;
  padding-top: 200px;
  width: 100%;
  display: flex;
}
.and_more2 {
  padding-left: 20%;
}
.and_more_3 {
  padding-right: 100px;
  padding-top: 150px; 
  font-size: 2em;
  font-family: 'Kaushan Script', cursive;
}
.footer{
  margin-top: 200px;
  height: 75px;
  justify-content: center;
  display: flex;
  gap: 25px; /* ВідступS між фотографією і текстом */
}
footer a{
  display: inline-block;
  font-family: 'Comfortaa', sans-serif;
  font-size: 21px;
  color: black;
  text-decoration: none;
} 
.footer a::after {
  content: "" ;
  display: block;
  width: 100%;
  height: 1px;
  background-color: darkorange;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}
.footer a:hover {
  color: darkorange;
}
.footer a:hover::after {
  opacity: 1;
}
.gmail{
  vertical-align: top;
  height: 30px; 
  display: inline-block;      
  background-size: cover;
}
.gmail_text{
  font-family: 'Comfortaa', sans-serif;
  font: 24px;
}
.gmail:hover,
.gmail:focus{
  filter: invert(27%) sepia(51%) saturate(2878%);
}

@media screen and (max-width: 600px) {
  .about_me {
    display: flex;
    padding-top: 20px; /* Adjust margin as needed */
    flex-direction: column;
 }
 .about_me_text {
  margin-bottom: 1em;
  display: block;
 }
 .about_img {
  max-width: 100%;
  height: auto;
  display: block;
 }
}


